# Server
PORT=4000
FRONTEND_URL=http://localhost:3000

# Database Config
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=rfp_db
TYPEORM_LOGGING=false

# LLM Config
LLM_API_KEY=your_gemini_or_openai_key
